body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    align-items: center;
}

h1 p {
    font-size: 20px;
}

section {
    margin: 20px;
    padding: 20px;
    align-items: center;
}